[Desktop Entry]
Name=XTrader
Comment=Technical stock analysis program
Comment[pl]=Program do analizy technicznej giełdy
Exec=xtrader
Icon=xtrader
Terminal=false
Type=Application
Categories=Office;X-Misc;
# vi: encoding=utf-8
